@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato&family=Montserrat:wght@900&family=Nunito:ital,wght@1,1000&family=Poppins&family=Rowdies:wght@400;700&family=Work+Sans&display=swap');


.App {
    min-height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
    background-color: aliceblue;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}